#q1{
    height: 150px;
    width: 300px;
    background-color: gray;
    border: 5px black dotted;
    margin-top: 20;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
}

.q2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: pink;
    border: 2px black solid;
    display: inline-block;
}

#q3{
    display: inline;
}